<div id="login-main">
    <div class="container login-main">
        <div class="opacity-register">
            <div class="col-md-8 login-form">
                <form autocomplete="off" class="form-horizontal" role="form">
                    <div class="user-img image-position">
                        <div class="inputWrapper" ng-hide="file">
                            <input alt="file" base-sixty-four-input class="fileInput hiddens" ng-model='file'
                                   type="file">
                            <img class="image-profil"
                                 ng-src="http://icons.veryicon.com/ico/Application/Long%20Shadow%20Media/Camera%202.ico">
                        </div>
                        <div class="inputWrapper" ng-show="file">
                            <input alt="file" base-sixty-four-input class="fileInput hiddens" ng-model='file'
                                   type="file">
                            <img class="image-profil" ng-src="data:{{file.filetype}};base64,{{file.base64}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" class="form-control login-field" id="login-name" ng-model="name"
                               placeholder="Prénom" type="text" value="">
                        <label class="login-name-register" for="login-name"><i aria-hidden="true"
                                                                               class="fa fa-user"></i></label>
                    </div>


                    <div class="form-group">
                        <input autocomplete="off" class="form-control login-field" id="login-lastname"
                               ng-model="lastname"
                               placeholder="Nom" type="text" value="">
                        <label class="login-lastname-register" for="login-lastname"><i aria-hidden="true"
                                                                                       class="fa fa-user"></i></label>
                    </div>


                    <div class="form-group">
                        <input autocomplete="off" class="form-control login-field" id="login-email" ng-model="email"
                               placeholder="Email" type="email" value="">
                        <label class="login-email-register" for="login-email"><i class="fa fa-envelope"></i></label>
                    </div>

                    <div class="form-group">
                        <input autocomplete="new-password" class="form-control login-field" id="login-pass"
                               ng-model="password"
                               placeholder="Mot de passe" type="password" value="">
                        <label class="login-pass-register" for="login-pass"><i
                                class="glyphicon glyphicon-lock"></i></label>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-lg btn-block" ng-click="tryToSignup(name,lastname,password,email,file)">S'inscrire</a>
                    </div>
                </form>
                <div class="col-md-12">
                    <a class="link" ng-href="#/">Se connecter</a>
                </div>
            </div>
            <!--login-form-->
        </div>
    </div>
    <!--container-->
</div>
<!--[END]login-main-->